.swiper {
  --swiper-navigation-size: 35px;
  --swiper-navigation-color: #0D9899;
  --swiper-pagination-bottom: -3px;
}

@media (max-width:768px
) {
  .swiper {
    --swiper-navigation-opacity: 0;
       /* display: none ; */
  }
}
