.swiper2 {
    width: 100%;
    height: 50vh;
  }
  
  .swiperSlideCourse {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
  }
  
  .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    width: 100px !important;
  }
  .swiper-scrollbar-drag{
    width: 100px !important;

  }
  @media (max-width:678px) {
    .swiperSlideCourse{
      padding: 0vw;
    }
    .swiper2{
      height: 20vh;
    }
  }